<article class="max-w-5xl mx-auto px-4 lg:px-6 py-24 relative">
    <header class="max-w-3xl mx-auto text-center">
        <h1 class="text-5xl md:text-6xl lg:text-7xl tracking-tight text-white font-bold">{{ title }}</h1>
    </header>
    <section class="max-w-xl mx-auto mt-12 content article">
        {{ form:contact js="alpine" }}
            {{ if success }}<p class="text-yellow-500 font-bold mb-4">Thanks! Someone will be in touch with you soon.</p>{{ /if }}
            {{ if errors }}
                <p class="text-red-500 font-bold mb-4">There are errors! Please fix these below.</p>
                <div class="bg-red-300 text-white p-2"></div>
                    {{ errors }}
                        {{ value }}
                    {{ /errors }}
                </div>
            {{ /if }}
            <div class="flex flex-col pt-16 pb-4 gap-4">
                <input type="text" class="hidden" name="username">
                {{ fields }}
                    <template x-if="{{ show_field }}">
                        {{ field }}
                    </template>
                {{ /fields }}
            </div>
            <button class="w-full md:w-auto bg-white rounded-lg text-red-500 hover:text-purple-500 inline-block py-3 px-8 font-bold transition hover:scale-[1.05]">
                Submit
            </button>
            {{# <span x-text="name"></span> #}}
        {{ /form:contact }}
    </section>
</article>