<section class="max-w-5xl mx-auto px-4 lg:px-6 py-40 relative hero">
    <h6 class="text-red-500 font-bold text-lg antialiased mb-4">{{ teaser }}</h6>
    <h1 class="text-6xl md:text-7xl lg:text-8xl tracking-tight text-white font-bold">{{ title }}</h1>
    {{ if show_lightning_bolts }}
        <img src="/img/3d-bolts.png" class="absolute h-64 top-8 right-0" alt="3D Lightning Bolts">
    {{ /if }}
    <div class="max-w-4xl mt-12">
        {{ subtitle }}
    </div>
</section>

{{ partial:panels }}

<section class="max-w-6xl mx-auto px-4">
    <header class="my-12 md:my-16 lg:my-24 text-center">
        <h2 class="text-4xl md:text-5xl lg:text-6xl text-white font-bold">Latest News</h2>
    </header>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-16">
        {{ collection:news limit="3" }}
            {{ partial:news/card }}
        {{ /collection:news }}
    </div>
</section>
