<!doctype html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title ?? "Heavy 88" }}</title>
    <link rel="stylesheet" href="{{ mix src="/css/tailwind.css" }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script defer src="https://unpkg.com/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="/vendor/statamic/frontend/js/helpers.js"></script>
</head>
<body class="bg-gray-900 font-sans leading-normal text-gray-500 relative min-h-screen overscroll-none" id="top">
    <header class="max-w-7xl mx-auto">
        {{ partial:nav }}
    </header>
    {{ template_content }}
    {{ partial:footer }}
    <div class="absolute z-40 w-full inset-0 opacity-75 pointer-events-none" style="background: url('/img/film-overlay.png') top center; background-size: 1400px"></div>
    <script src="{{ mix src="/js/site.js" }}"></script>
</body>
</html>
