<header class="my-12 md:my-16 lg:my-24 text-center">
    <p class="text-green-50 font-bold text-lg antialiased mb-4">Search Results For</p>
    <h1 class="text-6xl md:text-7xl lg:text-8xl text-white font-bold">{{ get:q }}</h1>
</header>

<section class="max-w-4xl mx-auto flex-col space-y-4 divide-y">
    {{ search:results }}
    <div class="py-4">
        <div class="flex items-center justify-between">
            <h2><a class="inline-block text-yellow-500 hover:underline text-3xl font-bold" href="{{ url }}">{{ title }}</a></h2>
            <div class="px-3 py-1 text-gray-200 font-bold bg-blue-500 rounded-full text-sm">{{ collection }}</div>
        </div>
        <div class="mt-2 font-regular">
            {{ (article_content ?? subtitle ?? teaser ?? content) | safe_truncate(140) }}...
        </div>
    </div>
    {{ /search:results }}
</section>