<header class="my-12 md:my-16 lg:my-24 text-center">
    <h1 class="text-6xl md:text-7xl lg:text-8xl text-white font-bold">{{ title }}</h1>
</header>

<section class="grid grid-cols-1 max-w-6xl mx-auto gap-x-8 gap-y-16 px-4">
    {{ collection:worlds }}
        <h1 class="font-bold text-2xl text-green-500">
            <a href="{{ url }}" class="transition hover:text-yellow-500">{{ title }}</a>
        </h1>
        <p>{{ content }}</p>
    {{ /collection:worlds }}
</section>