<article class="max-w-5xl mx-auto px-4 lg:px-6 py-24 relative">
    <header class="max-w-3xl mx-auto">
        <h1 class="text-5xl md:text-6xl lg:text-7xl tracking-tight text-white font-bold">{{ title }}</h1>
    </header>

    <section class="max-w-3xl mx-auto mt-12 content article">
        {{ content }}
    </section>
</article>