{{ panels }}
    <section class="max-w-6xl mx-auto p-4 lg:px-6 grid grid-cols-2 gap-8 pb-12 {{ ! first ?= 'mt-32' }}">
        <div class="relative {{ index % 2 ?= 'order-last' }}">
            <div class="h-[500px] relative z-10 bg-gradient-to-tr from-orange-500 to-blue-500 via-purple-500 rounded-xl bg-cover">
                <div class="absolute h-full w-full mix-blend-screen opacity-50 rounded-xl bg-cover" style="background-image: url('{{ panel_image }}')"></div>
            </div>
            {{ if count % 2 }}
                <img src="/img/3d-flame-man-facing-right.png" alt="flame man facing right" class="absolute z-20 -bottom-32 left-12" width="220">
                <img src="/img/brush-circle.png" alt="brush circle" class="absolute z-0 -bottom-8 -left-20 w-[640px] max-w-none">
            {{ else }}
                <img src="/img/3d-flame-man-facing-left.png" alt="flame man facing left" class="absolute z-20 -bottom-24 right-0" width="220">
            {{ /if }}
        </div>
        <div class="relative">
            <div class="rounded-xl h-[500px] block bg-black/[.8] shadow-glow-red-500 p-8 flex items-center">
                <div class="hero">
                    <h6 class="text-red-500 font-bold text-xl antialiased mb-12">{{ panel_teaser }}</h6>
                    <h2 class="text-[32px] tracking-tight leading-tight text-white font-bold">{{ panel_heading }}</h2>
                    {{ panel_content }}
                    <a href="{{ cta_link }}" class="mt-12 bg-gradient-to-br from-pink-500 to-purple-500 rounded-lg text-white inline-block py-2 px-6 font-bold shadow-highlight transition hover::scale-[1.05]">
                        {{ cta_text }}
                    </a>
                </div>
            </div>
        </div>
    </section>
{{ /panels }}