<header class="my-12 md:my-16 lg:my-24 text-center">
    <p class="text-green font-bold text-lg antialiased mb-4">That Flux Life</p>
    <h1 class="text-6xl md:text-7xl lg:text-8xl text-white font-bold">News & Press</h1>
</header>

<section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 max-w-6xl mx-auto gap-x-8 gap-y-16 px-4">
    <div class="rounded-xl h-[500px] block bg-gray-200 group flex flex-col hover:scale-105 transition duration-[400ms] ease-in-out">
        <a href="#" class="relative overflow-hidden rounded-t-xl">
            <img class="object-cover transition duration-[400ms] ease-in-out scale-110 group-hover:scale-100 w-full h-60" src="https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&fit=crop&w=800&h=500&q=80&fit=crop" alt="">
            <div class="absolute opacity-0 transition duration-[400ms] ease-in-out group-hover:opacity-75 z-20 inset-0 mix-blend-overlay object-cover w-full h-60 bg-gradient-to-br from-orange-dark to-aqua"></div>
        </a>
        <div class="px-6 py-8 flex flex-col justify-between flex-1">
            <h3 class="font-bold text-2xl text-white">
                <a href="#" class="transition hover:text-yellow">James Fall Joins the team as our new President and CEO</a>
            </h3>
            <div class="flex items-end justify-between">
                <div>
                    <p>October 21st, 2022</p>
                    <p class="text-sm">By <a href="" class="text-gray-700 hover:text-white">Kira Radly</a></p>
                </div>
                <a href="" class="px-3 py-1 text-gray-100 font-bold bg-yellow transition hover:bg-orange rounded-full">News</a>
            </div>
        </div>
    </div>
    <div class="rounded-xl h-[500px] block bg-gray-200 group flex flex-col hover:scale-105 transition duration-[400ms] ease-in-out">
        <a href="#" class="relative overflow-hidden rounded-t-xl">
            <img class="object-cover transition duration-[400ms] ease-in-out scale-110 group-hover:scale-100 w-full h-60" src="https://images.unsplash.com/photo-1542718610-a1d656d1884c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&fit=crop&w=800&h=500&q=80&fit=crop" alt="">
            <div class="absolute opacity-0 transition duration-[400ms] ease-in-out group-hover:opacity-75 z-20 inset-0 mix-blend-overlay object-cover w-full h-60 bg-gradient-to-br from-orange-dark to-aqua"></div>
        </a>
        <div class="px-6 py-8 flex flex-col justify-between flex-1">
            <h3 class="font-bold text-2xl text-white">
                <a href="#" class="transition hover:text-yellow">10 things we decided during our company retreat</a>
            </h3>
            <div class="flex items-end justify-between">
                <div>
                    <p>October 20th, 2022</p>
                    <p class="text-sm">By <a href="" class="text-gray-700 hover:text-white">Brad Knightly</a></p>
                </div>
                <a href="" class="px-3 py-1 text-gray-100 font-bold bg-yellow transition hover:bg-orange rounded-full">Team</a>
            </div>
        </div>
    </div>
    <div class="rounded-xl h-[500px] block bg-gray-200 group flex flex-col hover:scale-105 transition duration-[400ms] ease-in-out">
        <a href="#" class="relative overflow-hidden rounded-t-xl">
            <img class="object-cover transition duration-[400ms] ease-in-out scale-110 group-hover:scale-100 w-full h-60" src="https://images.unsplash.com/photo-1454779132693-e5cd0a216ed3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2371&q=80&fit=crop&w=800&h=500&q=80&fit=crop" alt="">
            <div class="absolute opacity-0 transition duration-[400ms] ease-in-out group-hover:opacity-75 z-20 inset-0 mix-blend-overlay object-cover w-full h-60 bg-gradient-to-br from-orange-dark to-aqua"></div>
        </a>
        <div class="px-6 py-8 flex flex-col justify-between flex-1">
            <h3 class="font-bold text-2xl text-white">
                <a href="#" class="transition hover:text-yellow">The latest advances in FluxTech™</a>
            </h3>
            <div class="flex items-end justify-between">
                <div>
                    <p>August 18th, 2022</p>
                    <p class="text-sm">By <a href="" class="text-gray-700 hover:text-white">Kira Radly</a></p>
                </div>
                <a href="" class="px-3 py-1 text-gray-100 font-bold bg-yellow transition hover:bg-orange rounded-full">Hot Take</a>
            </div>
        </div>
    </div>
</section>