<article class="max-w-5xl mx-auto px-4 lg:px-6 py-24 relative">
    <header class="max-w-3xl mx-auto">
        <a href="" class="px-3 py-1 text-gray-100 font-bold bg-yellow transition hover:bg-orange rounded-full inline-block mb-8">Technology</a>
        <h1 class="text-5xl md:text-6xl lg:text-7xl tracking-tight text-white font-bold">Cost-reducing advances in FluxTech™</h1>
        <div class="flex items-center mt-12">
            <img class="rounded-full h-16 w-16" src="https://images.unsplash.com/photo-1511485977113-f34c92461ad9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ" alt="">
            <div class="ml-6">
                <div>August 18, 2022</div>
                <div>By <a href="" class="font-bold text-white">Kira Daily</a></div>
            </div>
        </div>
    </header>

    <figure class="mt-12">
        <img class="rounded-xl" src="https://images.unsplash.com/photo-1454779132693-e5cd0a216ed3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2371&q=80" alt="">
    </figure>

    <section class="max-w-3xl mx-auto mt-12 content article">
        <p>Our researchers and scientists here at Heavy 88 Labs have been hard at work to improve every aspect of our FluxTech™ components.</p>
        <p>Recently, advances in exothermic recapture have allowed our Flux Capacitors to operate at power levels significantly lower than the previous requirement of 1.21 gigawatts necessary to rip a hole in the space-time continuum large enough for a gull-winged coupe. In addition to energy savings, our team has also:</p>
        <ul>
            <li>Developed an exotic element we call Wonderflonium (do not bounce)</li>
            <li>Not had a job-site accident for 8 days</li>
            <li>Avoided ordering Subway for lunch this year</li>
            <li>Watched all 5 seasons of Cobra Kai end-to-end 3 times</li>
        </ul>
        <h2>A subheading</h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas.</p>
        <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere.</p>
    </section>
</article>