<article class="max-w-5xl mx-auto px-4 lg:px-6 py-24 relative">
    <header class="max-w-3xl mx-auto">
        <h1 class="text-3xl md:text-4xl lg:text-5xl tracking-tight text-white font-bold">{{ title }}</h1>
    </header>

    <section class="max-w-3xl mx-auto mt-12 content article">
        {{ content }}
    </section>
</article>