/* This is all you. */

.content {
    p {
        @apply text-lg mb-8;
    }

    h2, h3, h4 {
        @apply text-white font-bold mb-8;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }
    ul {
        @apply mb-8 list-disc pl-4;
        li {
            @apply mb-2;
        }
    }
    img {

    }
}

.article > p:first-of-type {
    @apply text-xl font-medium;
}

.hero {
    p {
        @apply text-[32px] tracking-tight leading-tight text-gray-500;
        strong {
            @apply font-bold text-white;
        }
    }
}

.related-block {
    @apply bg-white px-4 py-1 text-red-500 -ml-16 my-8 inline-block rounded-r-md;
    &:hover {
        @apply bg-yellow-300;
    }
}

.quote-block {
    @apply text-xl pl-8 border-l-4 border-yellow-300 text-yellow-300 font-bold mb-8;
    
}