<header class="my-12 md:my-16 lg:my-24 text-center">
    <p class="text-green-500 font-bold text-lg antialiased mb-4">That Flux Life</p>
    <h1 class="text-6xl md:text-7xl lg:text-8xl text-white font-bold">{{ title }}</h1>
</header>

<section class="max-w-6xl mx-auto">
    {{ tags }}
        <div>
            <a href="{{ url }}" class="inline-block text-white text-3xl font-bold hover:bg-yellow-500">{{ title }}</a>
        </div>
    {{ /tags }}
</section>