<header class="my-12 md:my-16 lg:my-24 text-center">
    <p class="text-green-500 font-bold text-lg antialiased mb-4">Articles</p>
    <h1 class="text-6xl md:text-7xl lg:text-8xl text-white font-bold">{{ title }}</h1>
</header>

<section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 max-w-6xl mx-auto gap-x-8 gap-y-16 px-4">
    {{ entries }}
        {{ partial:news/card hide_tag="true" }}
    {{ /entries }}
</section>