<header class="my-12 md:my-16 lg:my-24 text-center">
    <p class="text-green-500 font-bold text-lg antialiased mb-4">That Flux Life</p>
    <h1 class="text-6xl md:text-7xl lg:text-8xl text-white font-bold">{{ title }}</h1>
</header>

<div class="max-w-8xl mx-auto">
    {{ collection:news paginate="3" as="news" }}
        <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 max-w-6xl mx-auto gap-x-8 gap-y-16 px-4 mb-8">
            {{ news }}
                {{ partial:news/card }}
            {{ /news }}
        </section>
        {{ paginate }}
            <div class="flex items-center justify-center space-x-8 text-center mx-auto">
                <a href="{{ prev_page }}" class="text-white font-bold text-2xl">Previous</a>
                <a href="{{ next_page }}" class="text-white font-bold text-2xl">Next</a>
            </div>
        {{ /paginate }}
    {{ /collection:news }}
</div>