<article class="max-w-5xl mx-auto px-4 lg:px-6 py-24 relative">
    <header class="max-w-3xl mx-auto">
        {{ tags }}
            <a href="{{ url }}" class="px-3 py-1 text-gray-100 font-bold bg-yellow-500 transition hover:bg-orange-500 rounded-full inline-block mb-8">{{ title }}</a>
        {{ /tags }}
        <h1 class="text-5xl md:text-6xl lg:text-7xl tracking-tight text-white font-bold">{{ title }}</h1>
        <div class="flex items-center mt-12">
            <img class="rounded-full h-16 w-16" src="{{ author:avatar }}" alt="{{ author:avatar:alt }}">
            <div class="ml-6">
                <div>{{ date }}</div>
                <div>By <a href="" class="font-bold text-white">{{ author:name }}</a></div>
            </div>
        </div>
    </header>

    <figure class="mt-12">
        <img class="rotate-2" src='{{ glide:featured_image width="1800" height="1200" filter="greyscale" sharpen="50" }}' alt="{{ featured_image:alt }}">
    </figure>

    <section class="max-w-3xl mx-auto mt-12 content article space-y-4">
        {{ article_content }}
            {{ if type == "text" }}
                {{ text }}
            {{ elseif type == "quote" }}
                <div class="quote-block">
                    &ldquo;{{ quote_field }}&rdquo;
                    <div class="italic mt-4">&dash; {{ author }}</div>
                </div>
            {{ elseif type == "related_articles" }}
                {{ related_entries }}
                    <a class="related-block" href="{{ url }}"><strong>Related: </strong>{{ title }}</a>
                {{ /related_entries }}
            {{ elseif type == "embed" }}
                {{ partial :src="embed_template" }}
            {{ /if }}
        {{ /article_content }}
    </section>
</article>